<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319227368060-c470le934eqlr5hiau81bm1lb1pr8uli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319227368060-c470le934eqlr5hiau81bm1lb1pr8uli</string>
	<key>API_KEY</key>
	<string>AIzaSyCrQ4eDKdwWal6NzUXw-sFDR8nIbudu8SU</string>
	<key>GCM_SENDER_ID</key>
	<string>319227368060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsbymuk.jobFinder</string>
	<key>PROJECT_ID</key>
	<string>job-finder-eca19</string>
	<key>STORAGE_BUCKET</key>
	<string>job-finder-eca19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319227368060:ios:7f75e5c28e41fb82f92ff9</string>
</dict>
</plist>